*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    width: min(90%, 800px);
    position: absolute;
    transform: translateX(-50%);
    left: 52%;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.par{
    text-align: center;
    color: rgb(44, 44, 44);
    font-size: 15px;
}

.border{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.head{
    margin-top: 30px;
    margin-bottom: 0%;
    text-align: center;
    font-size: 15px;
    color: rgb(53, 52, 52);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    border-radius: 7px;
    margin-top: 60px;
    margin-left: 30%;
    margin-bottom: 20px;
}

.container .image-container,
.container .preview-container {
    width: 100%;
}

#file {
    display: none;
}

label {
    display: block;
    position: relative;
    background-color: #58D650;
    color: #fff;
    font-size: 16px;
    text-align: center;
    width: 250px;
    padding: 16px 0;
    border-radius: 10px;
    margin: 16px auto;
    cursor: pointer;
}

img{
    display: block;
    max-width: 100%;
}

.image-container {
    width: 60%;
    margin: 0 auto;
}

.options {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 10px;
}

input[type="number"] {
    width: 100px;
    padding: 16px 5px;
    border-radius: 10px;
    font-size: 15px;
    border: 2px solid black;
}

button {
    padding: 5px;
    border-radius: 10px;
    border: 2px solid greenyellow;
    background-color: white;
    color: #0d6207;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    padding: 10px;
    margin-top: 10px;
}

#preview {
    font-size: 15px;
    cursor: pointer;
}

#download {
    border: 2px solid greenyellow;
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: rgb(143, 197, 62);
    text-decoration: none;
    font-size: 15px;
}

.hide {
    display: none;
}

.preview-container {
    margin-top: 10px;
    width: 300px;
    height: 300px;
    margin-left: 35%;
}